<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Insert title here</title>
</head>
<body>
<div class="container">
<form action="#" th:action="@{/processFile}" method="POST" enctype="multipart/form-data">
<div>
<br>

	<input type="file" name="file" >
	</div>
	<br>
	<label class="form-check-label" for="percent">How many percent?</label>
	<br>
	<input type="text" name="percent" value="0">
	<br>
	<br>
	<span>In which direction?</span>
	<div class="form-check">
	<input class="form-check-input" type="radio" id="Vertical" name="radioName" value ="Vertical" checked >
	<label class="form-check-label" for="vertical">Vertical</label>
	</div>
	
	<div class="form-check">
	<input  class="form-check-input" type="radio" id="horizontal" name="radioName" value ="Horizontal">
	<label class="form-check-label" for="horizontal">Horizontal</label>
	</div>
	<div class="form-check">
	<input  class="form-check-input" type="radio" id="Both" name="radioName" value ="Both">
	<label class="form-check-label" for="horizontal">Both</label>
	</div>
	<br>
	<button type="submit" class="btn btn-primary">Submit</button>
	
</form>
</div>
</body>
</html>